APP_ENV=production
TLS_CERT_FILE=certs/server.pem
TLS_KEY_FILE=certs/server.key
TLS_CA_CERT_FILE=certs/acps-root-ca.pem
REDIS_URL=redis://127.0.0.1:6379/0
REDIS_TLS_CA_CERT=
REDIS_TLS_CHECK_HOSTNAME=false
RABBITMQ_MGMT_URL=http://127.0.0.1:15672
RABBITMQ_MGMT_PASS=change-me
